.welcome-header {
    margin-top: 10vh;
    margin-bottom: 10vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;

}

.welcome-header__title{
    margin-bottom: 20px;
    font-size: 30px;
}

.welcome-header__text{
    font-size: 20px;
    opacity: 0.5;
}

.login-form{
    display:flex;
    flex-direction: column;
    margin: 0px 50px;
    
}

.login-form input[type=text], input[type=password]{
    border:none;
    font-size: 15px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    padding: 20px 0px;
    margin-bottom: 20px;
    transition: border-color 0.3s ease-in-out
}

.login-form input:focus{
    border-color: var(--main-color);
}

.login-form input[type=submit]{
    background-color: var(--main-color);
    border:none;
    margin-top:20px;
    height:50px;
    font-size:100%;
    cursor: pointer;
    border-radius: 5px;
}


.login-form a{
    text-align: center;
    text-decoration: none;
    color:inherit;
    margin-top:20px;
    font-size:15px;
}