.nav {
    position:fixed;
    bottom:0;
    width: 100vw;
    background-color: #f9f9fa;
    padding: 20px 60px;
    border-top:2px solid rgba(0,0,0,0.1);
    box-sizing: border-box;
}
.nav__ul{
    display:flex;
    justify-content: space-between;

}

.nav__link{
    position:relative;
}

.nav__notification {
    position:absolute;
    left:60%;
    bottom:90%;
}

.ellipsis-notification{
    width: 5px;
    height: 5px;
    display:flex;
    background-color: tomato;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position:absolute;
    left:100%;
}