.screen-header{
    display:flex;
    justify-content: space-between;
    padding:var(--horizontal-space);
    align-items: center;
    margin-top:40px;
    margin-bottom:20px;
}

.screen-header__title{
    font-size: 30px;
    font-weight:600;
}

.screen-header__icons span{
    margin-left: 25px;
    height: 100%
}