.status-bar{
        color:black;
        background-color: white;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        font-size:20px;
        position:fixed;
        top:0;
        box-sizing: border-box;
        width: 100vw;
        align-items: center;
    }


.status-bar__column > *{
    font-size: 100%;
    max-height: 100%;
    align-items: center;
}

.status-bar__column:first-child span{
    margin-right: 5px;
}

.status-bar__column:last-child > :not(:last-child)
{
    margin-right: 5px;
    max-height: 100%;
}
