body {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color: tomato;
    }

.status-bar{
        display:flex;
        justify-content: space-between;
        margin-left:25px;
        margin-right:25px;
        margin-top:15px;
    }
.status-bar > *{
    display: flex;
    align-items: center;
}

.status-bar__column:first-child span {
    margin-right:5px;
}
.status-bar__column:last-child > :not(:last-child) {
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
}